<div id="aboutvolu">
    <span style="font-size: 30px;">
        מתנדב יקר, למען ביטחונך האישי וביטחון הציבור אנא הקפד על הנהלים הבאים:
    </span>
    <br>
    <ol style="list-style-type: decimal; text-align: right">
        <li>
            אנא פעל על פי הנחיות משרד הבריאות העדכניות ביותר. באם מזוהה קושי או חוסר התאמה בין נהלי משרד הבריאות לנהלים שהועברו על ידי 'לב אחד', יש לפעול לפי ההנחיות המחמירות ביותר ולעדכן/לשאול במידי את החמ"ל המרחבי.
        </li>
        <li>יש להצטייד מראש ולהימצא לאורך הפעילות עם כפפות ומסכת פנים ולשטוף ידיים לפני ואחרי כל פעילות.</li>
        <li>יש לשמור על מרחק של לפחות שני מטרים בינך לבין  מבקש הסיוע או שאר המתנדבים האחרים.</li>
        <li>במקרה של שיעול או התעטשות הקפידו לעשות זאת למרפק.</li>
        <li>יש להקפיד כי לא נמצאים 10 אנשים בחלל אחד סגור.</li>
    </ol>
</div>
<h3>תג זה הינו הכרחי עבור ביצוע ההתנדבות - שמור את התג בטלפון שלך</h3>
<img src="{{ certificate.image.url }}" alt="volunteer tag" width="400" />
<br />
<a href="{{ certificate.image_download_url }}">הורדת תג</a>
<p style="font-size: 100%;font-style: italic">אם קישור הורדת התג לא עובד, יש לרענן את העמוד.</p>
