{% extends "server/template.html" %}
{% load bootstrap %}
{% load static %}

{% block title %}לב אחד - מתנדבים קרובים לבקשה{% endblock %}

{% block body %}
<p class="font-weight-bold mb-2 m-lg-3 text-center h1">הבקשה</p>
    <table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם מלא</th>
            <th scope="col">מספר טלפון</th>
            <th scope="col">עיר</th>
            <th scope="col">תאריך הבקשה</th>
            <th scope="col">כתובת</th>
            <th scope="col">הערות</th>
            <th scope="col">סוג</th>
            <th scope="col">פירוט</th>
            <th scope="col">סטאטוס</th>
            <th scope="col">ערך בפעם האחרונה</th>
            <th scope="col">המתנדב שטיפל</th>
            <th scope="col">בצע פעולות</th>
        </tr>
    </thead>
    <tbody>
            {% if help_request.get_status_display == "התקבלה" %}
                <tr bgcolor="white">
            {% endif %}
            {% if help_request.get_status_display == "טופל" %}
                <tr bgcolor="green">
            {% endif %}
            {% if help_request.get_status_display == "בטיפול" %}
                <tr bgcolor="yellow">
            {% endif %}
            {% if help_request.get_status_display == "הועבר למתנדב" %}
                <tr bgcolor="blue">
            {% endif %}
            {% if help_request.get_status_display == "לא טופל" %}
                <tr bgcolor="red">
            {% endif %}
                <th scope="row">{{ help_request.id }}</th>
                <td>{{ help_request.full_name }}</td>
                <td>{{ help_request.phone_number }}</td>
                <td>{{ help_request.city }}</td>
                <td>{{ help_request.created_date|date:"d/m/Y" }}</td>
                <td>{{ help_request.address }}</td>
                <td>{{ help_request.notes }}</td>
                <td>{{ help_request.get_type_display }}</td>
                <td>{{ help_request.type_text }}</td>
                <td>{{ help_request.get_status_display }}</td>
                <td>{{ help_request.status_updater }}</td>
                {% if help_request.helping_volunteer %}
                    <td>{{ help_request.helping_volunteer.full_name }} - {{ help_request.helping_volunteer.id }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td width="40%">
                    <a href="" class="btn btn-outline-dark waves-effect m-0" data-toggle="modal" data-target="#change_status{{ help_request.id }}">ערוך</a>
                </td>

{#                    change status#}
                    <div class="modal fade" id="change_status{{ help_request.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">


                         <form method="post" action="{% url 'change_stat' help_request.id%}">
                              {% csrf_token %}
                              <div class="modal-header">
                                <h4 class="modal-title w-100 font-weight-bold">עריכת בקשה</h4>
                              </div>
                              <div class="modal-body mx-3">

{#                               increas?#}
                                <div class="right">
                                    <h3 class="right"><u>שינוי סטאטוס בקשה:</u></h3>
                                    <h5><u>המצב הנוכחי הוא:</u></h5>


                                    <div>
                                        <label for="status">התקבלה</label>
                                        <input type="radio" name="status" id="status" value='WAITING'>
                                    </div>

                                    <div>
                                        <label for="status">בטיפול</label>
                                        <input type="radio" name="status" id="status" value='IN_CARE'>
                                    </div>

                                    <div>
                                        <label for="status">הועבר למתנדב</label>
                                        <input type="radio" name="status" id="status" value='TO_VOLUNTER'>
                                    </div>

                                    <div>
                                        <label for="status">טופל</label>
                                        <input type="radio" name="status" id="status" value='DONE'>
                                    </div>

                                    <div>
                                        <label for="status">לא טופל</label>
                                        <input type="radio" name="status" id="status" value='NOT_DONE'>
                                    </div>
                                </div>

                                  <div class="right">
                                    <div>
                                        <label for="user_name">נציג חמל</label>
                                        <input type="text" name="user_name" id="user_name" value='{{ help_request.status_updater }}'>
                                    </div>
                                </div>

                                  <div class="right">
                                    <div>
                                        <label for="volunteer_id">הקוד של המתנדב</label>
                                        <input type="number" name="volunteer_id" id="volunteer_id" value='{{ help_request.helping_volunteer.id }}'>
                                    </div>
                                </div>

                              <div class="right">
                                    <div>
                                        <label for="notes">הערות:</label>
                                        <input type="text" name="notes" id="notes" value='{{ help_request.notes }}'>
                                    </div>
                                </div>

                              </div>
                              <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">שמור שינויים</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
            </tr>
    </tbody>
</table>



<p class="font-weight-bold mb-2 m-lg-3 text-center h1">המתנדבים הקרובים ביותר

<table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם מלא</th>
            <th scope="col">גיל</th>
            <th scope="col">אזור</th>
            <th scope="col">שפה</th>
            <th scope="col">מספר טלפון</th>
            <th scope="col">תעודת זהות</th>
            <th scope="col">עיר</th>
            <th scope="col">כתובת</th>
            <th scope="col">דרכי התניידות</th>
            <th scope="col">האם זמין עכשיו?</th>
            <th scope="col">מרחק מהיעד</th>
            <th scope="col">אפשרויות</th>
        </tr>
    </thead>
    <tbody>
        {% for volunteer, distance in closes_volunteer %}
            <tr>
                <th scope="row">{{ volunteer.id }}</th>
                <td>{{ volunteer.full_name }}</td>
                <td>{{ volunteer.age }}</td>
                <td>
                    {% for area in volunteer.areas.all %}
                        {{ area }},
                    {% endfor %}
                </td>
                <td>
                    {% for lanu in volunteer.languages.all %}
                        {{ lanu.name }},
                    {% endfor %}
                </td>
                <td>{{ volunteer.phone_number }}</td>
                <td>{{ volunteer.tz_number }}</td>
                <td>{{ volunteer.city }}</td>
                <td>{{ volunteer.address }}</td>
                <td>{{ volunteer.get_moving_way_display }}</td>
                <td>
                    {% if volunteer.id in availability_now_id %}
                        פנוי
                    {% else %}
                        לא פנוי
                    {% endif %}
                </td>
                <td>{{ distance }} ק"מ</td>
                <td><a href="" class="btn btn-outline-dark waves-effect m-0" data-toggle="modal" data-target="#choose_volu{{ volunteer.id }}">נבחר</a></td>
            </tr>



            <div class="modal fade" id="choose_volu{{ volunteer.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">


                         <form method="post" action="{% url 'change_stat' help_request.id%}">
                              {% csrf_token %}
                              <div class="modal-header">
                                <h4 class="modal-title w-100 font-weight-bold">עריכת בקשה</h4>
                              </div>
                              <div class="modal-body mx-3">

{#                               increas?#}
                                <div class="right">
                                    <h3 class="right"><u>שינוי סטאטוס בקשה:</u></h3>
                                    <h5><u>המצב הנוכחי הוא:</u></h5>

                                    <div>
                                        <input type="hidden" name="status" id="status" value='TO_VOLUNTER'>
                                    </div>
                                </div>

                                  <div class="right">
                                    <div>
                                        <label for="user_name">נציג חמל</label>
                                        <input type="text" name="user_name" id="user_name" value='{{ help_request.status_updater }}'>
                                    </div>
                                </div>

                                  <div class="right">
                                    <div>
                                        <input type="hidden" name="volunteer_id" id="volunteer_id" value='{{ volunteer.id }}'>
                                    </div>
                                </div>

                              <div class="right">
                                    <div>
                                        <label for="notes">הערות:</label>
                                        <input type="text" name="notes" id="notes" value='{{ help_request.notes }}'>
                                    </div>
                                </div>

                              </div>
                              <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">שמור שינויים</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>



        {% endfor %}
    </tbody>
</table>

    <div class="fixed-action-btn " style="position:fixed; bottom: 10px; left: 12px;">
      <a href="{% url 'show_all_help_request' %}" class="btn-floating btn-lg red btn btn-outline-dark">
        ->
      </a>
    </div>
{% endblock %}
