{% extends "template.html" %}
{% load bootstrap %}
{% load static %}

{% block title %}לב אחד - מתנדבים קרובים לבקשה{% endblock %}

{% block body %}
<p class="font-weight-bold mb-2 m-lg-3 text-center h1">המתנדבים הקרובים ביותר</p>
    <table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם מלא</th>
            <th scope="col">מספר טלפון</th>
            <th scope="col">עיר</th>
            <th scope="col">כתובת</th>
            <th scope="col">הערות</th>
            <th scope="col">סוג</th>
            <th scope="col">פירוט</th>
            <th scope="col">סטאטוס</th>
            <th scope="col">ערך בפעם האחרונה</th>
            <th scope="col">בצע פעולות</th>
        </tr>
    </thead>
    <tbody>
            {% if help_request.get_status_display == "התקבלה" %}
                <tr bgcolor="green">
            {% endif %}
            {% if help_request.get_status_display == "טופל" %}
                <tr bgcolor="yellow">
            {% endif %}
            {% if help_request.get_status_display == "בטיפול" %}
                <tr bgcolor="red">
            {% endif %}
            {% if help_request.get_status_display == "הועבר למתנדב" %}
                <tr bgcolor="#5f9ea0">
            {% endif %}
                <th scope="row">{{ help_request.id }}</th>
                <td>{{ help_request.full_name }}</td>
                <td>{{ help_request.phone_number }}</td>
                <td>{{ help_request.city }}</td>
                <td>{{ help_request.address }}</td>
                <td>{{ help_request.notes }}</td>
                <td>{{ help_request.get_type_display }}</td>
                <td>{{ help_request.type_text }}</td>
                <td>{{ help_request.get_status_display }}</td>
                <td>{{ help_request.status_updater }}</td>
                <td>
                    <a href="" class="btn btn-outline-dark waves-effect m-0" data-toggle="modal" data-target="#change_status{{ help_request.id }}">שנה סטאטוס</a>
                </td>

{#                    change status#}
                    <div class="modal fade" id="change_status{{ help_request.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">


                         <form method="post" action="{% url 'change_stat' help_request.id%}">
                              {% csrf_token %}
                              <div class="modal-header text-right">
                                <h4 class="modal-title w-100 font-weight-bold">שינוי סטאטוס בקשה:</h4>
                              </div>
                              <div class="modal-body mx-3">

{#                               increas?#}
                                <div class="right">
                                    <p class="text-right h5"><u>המצב הנוכחי הוא:</u></p>


                                    <div>
                                        <label for="status">התקבלה</label>
                                        <input type="radio" name="status" id="status" value='WAITING'>
                                    </div>

                                    <div>
                                        <label for="status">בטיפול</label>
                                        <input type="radio" name="status" id="status" value='IN_CARE'>
                                    </div>

                                    <div>
                                        <label for="status">הועבר למתנדב</label>
                                        <input type="radio" name="status" id="status" value='TO_VOLUNTER'>
                                    </div>

                                    <div>
                                        <label for="status">טופל</label>
                                        <input type="radio" name="status" id="status" value='DONE'>
                                    </div>
                                </div>

                                  <div class="right">
                                    <p class="text-right h5"><u>שינוי זהות</u></p>


                                    <div>
                                        <label for="user_name">שם משנה הבקשה </label>
                                        <input type="text" name="user_name" id="user_name" value='{{ help_request.status_updater }}'>
                                    </div>
                                </div>



                              </div>
                              <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">שמור שינויים</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
            </tr>
    </tbody>
</table>



<p class="font-weight-bold mb-2 m-lg-3 text-center h1">רשימת מתנדבים

<table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם מלא</th>
            <th scope="col">גיל</th>
            <th scope="col">אזור</th>
            <th scope="col">שפה</th>
            <th scope="col">מספר טלפון</th>
            <th scope="col">עיר</th>
            <th scope="col">כתובת</th>
            <th scope="col">דרכי התניידות</th>
            <th scope="col">מרחק מהיעד</th>
        </tr>
    </thead>
    <tbody>
        {% for volunteer in closes_volunteer %}
            <tr>
                <th scope="row">{{ volunteer.id }}</th>
                <td>{{ volunteer.full_name }}</td>
                <td>{{ volunteer.age }}</td>
                <td>{{ volunteer.get_area_display }}</td>
                <td>
                    {% for lanu in volunteer.languages.all %}
                        {{ lanu.name }}
                    {% endfor %}
                </td>
                <td>{{ volunteer.phone_number }}</td>
                <td>{{ volunteer.city }}</td>
                <td>{{ volunteer.address }}</td>
                <td>{{ volunteer.get_moving_way_display }}</td>
                <td>
                    {%  with temp_x=volunteer.city.x|sub:help_request.city.x temp_y=volunteer.city.y|sub:help_request.city.y %}
                        {% with total_x=temp_x|mul:temp_x total_y=temp_y|mul:temp_y %}
                            {% with total_dis=total_x|add:total_y %}
                                {{ total_dis }}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
