{% extends "server/template.html" %}
{% load bootstrap %}
{% load static %}

{% block title %}לב אחד - מתנדבים קרובים לבקשה{% endblock %}

{% block body %}
<p class="font-weight-bold mb-2 m-lg-3 text-center h1">רשימת בקשות עזרה
<a href="" class="btn btn-outline-primary btn-sm m-2 waves-effect" data-toggle="modal" data-target="#modalLoginForm1">ערוך</a></p>

<table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם מלא</th>
            <th scope="col">מספר טלפון</th>
            <th scope="col">עיר</th>
            <th scope="col">תאריך הבקשה</th>
            <th scope="col">כתובת</th>
            <th scope="col">הערות</th>
            <th scope="col">סוג</th>
            <th scope="col">פירוט</th>
            <th scope="col">סטאטוס</th>
            <th scope="col">ערך בפעם האחרונה</th>
            <th scope="col">בצע פעולות</th>
        </tr>
    </thead>
    <tbody>
        {% for help_request in help_requests %}
            {% if help_request.get_status_display == "התקבלה" %}
                <tr bgcolor="white">
            {% endif %}
            {% if help_request.get_status_display == "טופל" %}
                <tr bgcolor="green">
            {% endif %}
            {% if help_request.get_status_display == "בטיפול" %}
                <tr bgcolor="yellow">
            {% endif %}
            {% if help_request.get_status_display == "הועבר למתנדב" %}
                <tr bgcolor="blue">
            {% endif %}
            {% if help_request.get_status_display == "לא טופל" %}
                <tr bgcolor="red">
            {% endif %}
                <th scope="row">{{ help_request.id }}</th>
                <td>{{ help_request.full_name }}</td>
                <td>{{ help_request.phone_number }}</td>
                <td>{{ help_request.city }}</td>
                <td>{{ help_request.created_date|date:"d/m/Y" }}</td>
                <td>{{ help_request.address }}</td>
                <td>{{ help_request.notes }}</td>
                <td>{{ help_request.get_type_display }}</td>
                <td>{{ help_request.type_text }}</td>
                <td>{{ help_request.get_status_display }}</td>
                <td>{{ help_request.status_updater }}</td>
                <td width="40%">
                    <a href="" class="btn btn-outline-dark waves-effect m-0" data-toggle="modal" data-target="#change_status{{ help_request.id }}">שנה סטאטוס</a>
                    <a href="{% url 'find_closes_persons' help_request.id %}" class="btn btn-outline-dark waves-effect m-2">  מצא התאמה</a>
                </td>

{#                    change status#}
                    <div class="modal fade" id="change_status{{ help_request.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">


                         <form method="post" action="{% url 'change_stat' help_request.id%}">
                              {% csrf_token %}
                              <div class="modal-header">
                                <h4 class="modal-title w-100 font-weight-bold">שינוי סטאטוס בקשה:</h4>
                              </div>
                              <div class="modal-body mx-3">

{#                               increas?#}
                                <div class="right">
                                    <p class="h5"><u>המצב הנוכחי הוא:</u></p>


                                    <div>
                                        <label for="status">התקבלה</label>
                                        <input type="radio" name="status" id="status" value='WAITING'>
                                    </div>

                                    <div>
                                        <label for="status">בטיפול</label>
                                        <input type="radio" name="status" id="status" value='IN_CARE'>
                                    </div>

                                    <div>
                                        <label for="status">הועבר למתנדב</label>
                                        <input type="radio" name="status" id="status" value='TO_VOLUNTER'>
                                    </div>

                                    <div>
                                        <label for="status">טופל</label>
                                        <input type="radio" name="status" id="status" value='DONE'>
                                    </div>

                                    <div>
                                        <label for="status">לא טופל</label>
                                        <input type="radio" name="status" id="status" value='NOT_DONE'>
                                    </div>
                                </div>

                                  <div class="right">
                                    <p class="h5"><u>שינוי זהות</u></p>


                                    <div>
                                        <label for="user_name">שם משנה הבקשה </label>
                                        <input type="text" name="user_name" id="user_name" value='{{ help_request.status_updater }}'>
                                    </div>
                                </div>



                              </div>
                              <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">שמור שינויים</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
            </tr>
        {% endfor %}
    </tbody>
</table>


{#                    filter mode#}
                    <div class="modal fade" id="modalLoginForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">


                         <form method="post" action="{% url 'show_all_help_request' %}">
                              {% csrf_token %}
                              <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">בחר את הפילטרים הרצויים</h4>
                              </div>
                              <div class="modal-body mx-3">

                                <div>
                                    <p class="h5"><u>בחר סטטוסים להצגה</u></p>

                                    <div>
                                        <label for="status">הכל</label>
                                        <input type="checkbox" name="status" id="status" value=''>
                                    </div>

                                    <div>
                                        <label for="status">התקבלה</label>
                                        <input type="checkbox" name="status" id="status" value='WAITING'>
                                    </div>

                                    <div>
                                        <label for="status">בטיפול</label>
                                        <input type="checkbox" name="status" id="status" value='IN_CARE'>
                                    </div>

                                    <div>
                                        <label for="status">הועבר לטיפול</label>
                                        <input type="checkbox" name="status" id="status" value='TO_VOLUNTER'>
                                    </div>

                                    <div>
                                        <label for="status">טופל</label>
                                        <input type="checkbox" name="status" id="status" value='DONE'>
                                    </div>

                                    <div>
                                        <label for="status">לא טופל</label>
                                        <input type="checkbox" name="status" id="status" value='NOT_DONE'>
                                    </div>

                                </div>



                                  <div>
                                    <p class="h5"><u>בחר סוג עזרה</u></p>


                                    <div>
                                        <label for="type">הכל</label>
                                        <input type="checkbox" name="type" id="type" value=''>
                                    </div>

                                    <div>
                                        <label for="type">קניות</label>
                                        <input type="checkbox" name="type" id="type" value='BUYIN'>
                                    </div>

                                    <div>
                                        <label for="type">איסוף</label>
                                        <input type="checkbox" name="type" id="type" value='TRAVEL'>
                                    </div>

                                    <div>
                                        <label for="type">תרופות</label>
                                        <input type="checkbox" name="type" id="type" value='MEDICI'>
                                    </div>

                                    <div>
                                        <label for="type">עזרה בבית</label>
                                        <input type="checkbox" name="type" id="type" value='HOME_HEL'>
                                    </div>

                                    <div>
                                        <label for="type">תמיכה טלפונית</label>
                                        <input type="checkbox" name="type" id="type" value='PHONE_HEL'>
                                    </div>

                                    <div>
                                        <label for="type">אחר</label>
                                        <input type="checkbox" name="type" id="type" value='OTHER'>
                                    </div>

                                </div>


                                <div>
                                    <p class="h5"><u>בחר את השדה שאתה מעוניין למיין לפיו</u></p>
                                </div>
                                    <div>
                                        <label for="field">סטאטוס</label>
                                        <input type="radio" name="field" id="field" value='status'>
                                    </div>
                                    <div>
                                        <label for="field">סוג הבקשה</label>
                                        <input type="radio" name="field" id="field" value='type'>
                                    </div>
                                    <div>
                                        <label for="field">עיר</label>
                                        <input type="radio" name="field" id="field" value='city'>
                                    </div>
                                </div>

                              <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">בצע פילטר</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>



    <div class="fixed-action-btn " style="position:fixed; bottom: 10px; left: 12px;">
      <a href="{% url 'index' %}" class="btn-floating btn-lg red btn btn-outline-dark">
        ->
      </a>
    </div>

{% endblock %}
