{% extends "server/template.html" %}
{% load bootstrap %}
{% load static %}
{% load mathfilters %}

{% block title %}לב אחד - מתנדבים קרובים לבקשה{% endblock %}

{% block body %}
<p class="font-weight-bold mb-2 m-lg-3 text-center h1">רשימת מתנדבים
<a href="" class="btn btn-outline-primary btn-sm m-2 waves-effect" data-toggle="modal" data-target="#modalLoginForm">ערוך</a></p>

<table class="table table-hover table-bordered text-center">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">שם מלא</th>
            <th scope="col">גיל</th>
            <th scope="col">אזור</th>
            <th scope="col">שפה</th>
            <th scope="col">מספר טלפון</th>
             <th scope="col">כתובת מייל</th>
            <th scope="col">תעודת זהות</th>
            <th scope="col">הערות</th>
            <th scope="col">עיר</th>
            <th scope="col">כתובת</th>
            <th scope="col">דרכי התניידות</th>
            <th scope="col">האם זמין עכשיו?</th>
            <th scope="col">מספר הפעמים שעזר</th>
            <th scope="col">ערוך הערות</th>
        </tr>
    </thead>
    <tbody>
        {% for volunteer, num_of_appers in volunteer_data %}
            <tr>
                <th scope="row">{{ volunteer.id }}</th>
                <td>{{ volunteer.full_name }}</td>
                <td>{{ volunteer.age }}</td>
                <td>
                    {% for area in volunteer.areas.all %}
                        {{ area }},
                    {% endfor %}
                </td>
                <td>
                    {% for lanu in volunteer.languages.all %}
                        {{ lanu.name }},
                    {% endfor %}
                </td>
                <td>{{ volunteer.phone_number }}</td>
                 <td>{{ volunteer.email }}</td>
                 <td>{{ volunteer.tz_number }}</td>
                <td>{{ volunteer.notes }}</td>
                <td>{{ volunteer.city }}</td>
                <td>{{ volunteer.address }}</td>
                <td>{{ volunteer.get_moving_way_display }}</td>
                <td>
                    {% if volunteer.id in availability_now_id %}
                        פנוי
                    {% else %}
                        לא פנוי
                    {% endif %}
                </td>
                <td>{{ num_of_appers }}</td>
                <td>
                    <a href="" class="btn btn-outline-dark waves-effect m-0" data-toggle="modal" data-target="#edit_volu{{ volunteer.id }}">ערוך</a>
                </td>
            </tr>


            <div class="modal fade" id="edit_volu{{ volunteer.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">


                         <form method="post" action="{% url 'volunteer_edit_notes' volunteer.id %}">
                              {% csrf_token %}
                              <div class="modal-header">
                                <h4 class="modal-title w-100 font-weight-bold">עריכה</h4>
                              </div>
                              <div class="modal-body mx-3">
                                  <div class="right">
                                        <h5><u>שינוי הערות מתנדב</u></h5>


                                        <div>
                                            <label for="notes">הערה:</label>
                                            <input type="text" name="notes" id="notes" value='{{ volunteer.notes }}'>
                                        </div>
                                    </div>

                                  </div>
                              <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">שמור שינויים</button>
                              </div>
                          </form>
                        </div>
                      </div>
                </div>
        {% endfor %}
    </tbody>
</table>

<div>
    {% if page != 1 %}
    <a href="{% url 'show_all_volunteers' %}/{{ page|add:-1 }}?{{ request.META.QUERY_STRING }}">הקודם</a>
    {% endif %}
    &nbsp;עמוד {{ page }} מתוך {{ num_pages }}&nbsp;
    {% if not page == num_pages %}
    <a href="{% url 'show_all_volunteers' %}/{{ page|add:1 }}?{{ request.META.QUERY_STRING }}">הבא</a>
    {% endif %}
</div>

                    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">


                            <form method="get" action="{% url 'show_all_volunteers' %}">
                              <div class="modal-header text-center">
                                <h4 class="modal-title w-100 font-weight-bold">בחר את הפילטרים הרצויים</h4>
                              </div>
                              <div class="modal-body mx-3">

{#                               increas?#}
                                <div>
                                    <p class="h5"><u>בחר אזורים להצגה</u></p>


                                    <div>
                                        <label for="area">הכל</label>
                                        <input type="checkbox" name="area" id="area" value=>
                                    </div>
                                    <div>
                                        <label for="area">צפון</label>
                                        <input type="checkbox" name="area" id="area" value='צפון'>
                                    </div>

                                    <div>
                                        <label for="area">ירושלים והסביבה</label>
                                        <input type="checkbox" name="area" id="area" value='ירושלים והסביבה'>
                                    </div>

                                    <div>
                                        <label for="area">מרכז</label>
                                        <input type="checkbox" name="area" id="area" value='מרכז'>
                                    </div>

                                    <div>
                                        <label for="area">יהודה ושומרון</label>
                                        <input type="checkbox" name="area" id="area" value='יהודה ושומרון'>
                                    </div>
                                    <div>
                                        <label for="area">דרום</label>
                                        <input type="checkbox" name="area" id="area" value='דרום'>
                                    </div>

                                </div>
                                  <div>

                                        <p class="h5"><u>בחר שפה</u></p>
                                      <div>
                                        <label for="area">הכל</label>
                                        <input type="checkbox" name="area" id="area" value=>
                                    </div>
                                      <div>
                                        <label for="language">עברית</label>
                                        <input type="checkbox" name="language" id="language" value='עברית'>
                                    </div>


                                    <div>
                                        <label for="language">אנגלית</label>
                                        <input type="checkbox" name="language" id="language" value='אנגלית'>
                                    </div>

                                    <div>
                                        <label for="language">רוסית</label>
                                        <input type="checkbox" name="language" id="language" value='רוסית'>
                                    </div>

                                    <div>
                                        <label for="language">צרפתית</label>
                                        <input type="checkbox" name="language" id="language" value='צרפתית'>
                                    </div>

                                    <div>
                                        <label for="language">ערבית</label>
                                        <input type="checkbox" name="language" id="language" value='ערבית'>
                                    </div>

                                    <div>
                                        <label for="language">אחר</label>
                                        <input type="checkbox" name="language" id="language" value='אחר'>
                                    </div>
                                </div>


                                <div>
                                    <p class="h5"><u>בחר את השדה שאתה מעוניין למיין לפיו</u></p>
                                </div>
                                    <div>
                                        <label for="field">אזור</label>
                                        <input type="radio" name="field" id="field" value='areas'>
                                    </div>
                                    <div>
                                        <label for="field">שפות</label>
                                        <input type="radio" name="field" id="field" value='languages'>
                                    </div>
                                    <div>
                                        <label for="field">דרכי התניידות</label>
                                        <input type="radio" name="field" id="field" value='moving_way'>
                                    </div>

                                <div>
                                    <p class="h5"><u>זמינות</u></p>
                                </div>


                                <div>
                                    <label for="guiding">האם להראות רק את המתנדבים שמוכנים להתנדב לחוגים?</label>
                                    <input type="checkbox" name="guiding" id="guiding" value='True'>
                                </div>

                                <div>
                                    <label for="availability">האם להראות רק את המתנדבים הזמינים כעת</label>
                                    <input type="checkbox" name="availability" id="availability" value='ONLY_NOW' checked>
                                </div>

                              </div>
                              <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">בצע פילטר</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>





    <div class="fixed-action-btn " style="position:fixed; bottom: 10px; left: 12px;">
      <a href="{% url 'index' %}" class="btn-floating btn-lg red btn btn-outline-dark">
        ->
      </a>
    </div>
{% endblock %}
