{% extends "template.html" %}

{% block title %}לב אחד - קבל עזרה{% endblock %}


{% block body %}
<div class="container box">
    <div class="max-container">
        <div class="card-body choice-box container-fluid">

            <h2 class="card-title alert alert-secondary" style="direction: rtl;">במה אתה זקוק לעזרה?</h2>
            <div class="list-group scroll">
                <a class="list-group-item" href="/client/help/shopping"><h4>קניות/איסוף</h4></a>
                <a class="list-group-item" href="/client/help/medic"><h4>תרופות</h4></a>
                <a class="list-group-item" href="/client/help/home"><h4>עזרה בבית</h4></a>
                <a class="list-group-item" href="/client/help/travel"><h4>הסעות</h4></a>
                <a class="list-group-item" href="/client/help/phone"><h4>תמיכה טלפונית</h4></a>


                <a class="list-group-item" href="/client/help/phone"><h4>סיוע לעובדים חיוניים</h4></a>


                <a class="list-group-item" href="/client/help/other"><h4>אחר</h4></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
