{% extends "template.html" %}
{% load static %}

{% block title %}לב אחד - דף הבית{% endblock %}


{% block body %}
<div class="centered">

    <section class="cards">

        <article class="card">
            <a href="/client/get_help">

                <h4>לקבל עזרה</h4>
                <img class="exp" src="{% static 'client/get_help.png' %}" alt="My image">
            </a>
        </article>

        <article class="card">
            <a href="/client/volunteer">

                <h4>להתנדב</h4>
                <img class="exp" src="{% static 'client/volunteer.png' %}" alt="My image">
            </a><!-- /card-one -->

        </article>

        <!-- /card-two -->

        <article class="card">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ZNRJHJ2NBQE5L&source=url">
                <h4>לתרומות</h4>
                <img class="exp" src="{% static 'client/donate.png' %}" alt="My image">
            </a>
        </article>
        <!-- /card-three -->

    </section>
</div>
{% endblock %}
