{% extends "template.html" %}
{% load static %}

{% block title %}<img src="{% static 'client/logo.png' %}"> לב אחד - דף הבית
{% endblock %}


{% block body %}
<div class="centered">

    <section class="cards">

        <article class="card">
            <a href="/client/get_help">

                <h4>לקבל עזרה</h4>
                <img class="exp" src="{% static 'client/get_help.png' %}" alt="My image">
            </a>
        </article>

        <article class="card">
            <a href="/client/volunteer">

                <h4>להתנדב</h4>
                <img class="exp" src="{% static 'client/volunteer.png' %}" alt="My image">
            </a><!-- /card-one -->

        </article>

        <!-- /card-two -->

        <article class="card">
            <a href="https://www.levechad.org/donates">
                <h4>לתרומות</h4>
                <img class="exp" src="{% static 'client/donate.png' %}" alt="My image">
            </a>
        </article>
        <!-- /card-three -->

    </section>
<br/>

  <div  style="text-align: center;">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> :מתנדבים עד כה {{ numbers.total_volunteers }}</h5>
            <h5 class="card-title"> :בקשות עזרה עד כה {{ numbers.total_help_requests }}</h5>
                      <h5 class="card-title"> :בקשות עזרה שטופלו עד כה {{ numbers.solved_help_requests }}</h5>

        </div>
      </div>
     
    </div>
  </div>
 </div>

{% endblock %}
