{% extends "template.html" %}
{% load static %}

{% block title %}לב אחד - דף הבית{% endblock %}


{% block body %}
<!--<div class="card">-->
<!--<div class="card-body choice-box container-fluid">-->
<!--<h2 class="card-title alert alert-light">אני מעוניין</h2>-->
<!--<div class="list-group">-->
<!--<a class="list-group-item" href="/client/send_help"><h4>להתנדב</h4></a>-->
<!--<a class="list-group-item" href="/client/get_help"><h4>לקבל עזרה</h4></a>-->
<!--<a class="list-group-item" href="https://www.paypal.com/donate/?token=ldb3bnZ8Bd_MAn_i4z3GFLRAp78s_pvqGWDGxkps5yntvGr9xEf15Au9szALvFs5uFwhyW&country.x=GB&locale.x=GB"><h4>לתרום לנו</h4></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="centered">

    <section class="cards">

        <article class="card">
            <a href="/client/send_help">

                <h4>להתנדב</h4>
                <img class="exp" src="{% static 'client/volunteer.png' %}" alt="My image">
            </a><!-- /card-one -->

        </article>

        <article class="card">
            <a href="/client/get_help">

                <h4>לקבל עזרה</h4>
                <img class="exp" src="{% static 'client/get_help.png' %}" alt="My image">
            </a>
        </article>

        <!-- /card-two -->

        <article class="card">
            <a href="https://www.paypal.com/donate/?token=ldb3bnZ8Bd_MAn_i4z3GFLRAp78s_pvqGWDGxkps5yntvGr9xEf15Au9szALvFs5uFwhyW&country.x=GB&locale.x=GB">
                <h4>לתרום לנו</h4>
                <img class="exp" src="{% static 'client/donate.png' %}" alt="My image">
            </a>
        </article>
        <!-- /card-three -->

    </section>
</div>
{% endblock %}
