{% extends "template.html" %}
{% load bootstrap %}

{% block title %}לב אחד - התנדב{% endblock %}


{% block body %}
<form action="schedule" method="post">
    <h4>סמן את זמינותך השבועית</h4>

    <script language="JavaScript">
        function selectAll(state) {
            var days= ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"];
            for (var i = 0; i < days.length; i++) {
                selectAllDay(state, days[i]);
            }
        }

        function selectAllDay(state, day) {
            var items = document.getElementsByName(day);
            for (var i = 0; i < items.length; i++) {
                if (items[i].type == 'checkbox')
                    items[i].checked = state.checked;
            }
        }

    </script>
    <label for="select_all"><input id="select_all" type="checkbox" onClick="selectAll(this)"/>סמן הכל</label>
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="hidden" name="vol_id" value={{ id }}>
    <input type="submit" value="submit">
</form>
{% endblock %}
