{% load static %}

<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static 'client/logo.png' %}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
            integrity="sha384-vus3nQHTD+5mpDiZ4rkEPlnkcyTP+49BhJ4wJeJunw06ZAp+wzzeBPUXr42fi8If"
            crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'client/main.css' %}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'client/logo.png' %}"/>
</head>
<body dir="rtl">
    <div class="page-wrapper">
        <div class="back">
            <nav class="navbar navbar-expand-lg navbar-light">

                <a class="navbar-brand" href="/client/home">
                    <img class="logo" src="{% static 'client/logo.png' %}" alt="My image">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto right">
                        <li class="nav-item">
                            <a class="nav-link" href="/client/home">דף הבית</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/get_help">בקשת עזרה</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/volunteer">התנדבות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="https://www.levechad.org/donates">לתרומות</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="https://www.levechad.org/about-us">אודותנו</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container">
            {% include "translate.html" %}
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <footer class="page-footer" style="width: 100%; background-color: rgba(0, 0, 0, 0.1);
    font-size: 12px; justify-content:center; align-items:center;border-top: 4px solid white;">
        <label class="center"><i> אתר זה נבנה בתרומה ע"י תוכנית תלפיות  </i></label>
    </footer>



</body>

</html>
