{% extends "template.html" %}
{% load static %}

{% block title %}לב אחד - דף הבית{% endblock %}


{% block body %}
<h1>תודה רבה!</h1>
<h2>אנחנו מעבדים את הבקשה</h2>

<br><br>


<strong><h3>תג זה הינו הכרחי עבור ביצוע ההתנדבות - שמור את התג בטלפון שלך</h3></strong>
<div class = "tag" style = "position:absolute;left:35%;">
<img src = {% static 'client/tag.png' %} width = 400>
  <div class = "taginfo" style = "position:absolute;top:70px;right:50px;">
  <p> {{taz}}</p>
  <p> {{name}}</p>
    </div>
</div>

{% endblock %}
