{% extends "template.html" %}
{% load bootstrap %}

{% block title %}לב אחד - התנדב{% endblock %}


{% block body %}

<div style = "witdth:300px;height:600px;border:1px solid red; color:red;"><p>שלום לכל המתנדבים! <br>
מגוון הפעולות הנדרשות משתנה בהתאם לצרכים אולם רוב הבקשות לסיוע הן מהתחומים הבאים:
    <ol>
        <li>פעילות במשפחתונים לילדים לעובדים חיוניים</li>
        <li>סיוע למבודדים ואנשים שלא יכולים לעזוב את ביתם</li>
        <li>סיוע לחקלאים</li>        
    </ol>        
    לקראת ובהלך ההתנדבות אנחנו מבקשים להישמע לנהלים שפורסמו ע"י משרד הבריאות, עליכם לקרוא אותם בעיון:
    <ol>
        <li>ההנחיות חלות על כולם!</li>
        <li>יש לשטוף ידיים לפני ואחרי כל התנדבות.</li>
           <li>יש לשמור על מרחק של 2 מטרים לפחות מכל אדם (להשתדל ולהקפיד מאד על כך במקומות שיש בהם לא מעט אנשים כגון סופרמרקט ומשפחתונים).</li>
        <li> העברה של כסף/ מצרכים תיעשה באופן הבא:<br>
א. על המתנדב להשאיר את המשלוח מחוץ לבית מבקש הסיוע, על סף הדלת.
לדפוק על הדלת ולציין שפרק את המשלוח מטעם "לב אחד" <br>
ב. לאחר מכן, על המתנדב לשמור על מרחק של 2 מטרים מחוץ לדלת. אם מבקש הסיוע רוצה להעביר דבר-מה, עליו להשאיר אותו מחוץ לדלת, כאשר המתנדב מרוחק ממנה 2 מטרים לפחות. 
 כאמור, להקפיד על שטיפת ידיים לפני ואחרי כל משלוח.</li>

    </ol>
  <strong> כל מעשה קטן, הוא למעשה מעשה גדול של חסד שבאמצעותו נצליח כחברה לעבור את המשבר, 
      כי כולנו לב אחד. </strong>
        
        </p>
</div>
<form action="/client/volunteer" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Submit">
</form>
{% endblock %}
