{% extends "template.html" %}
{% load bootstrap %}

{% block title %}לב אחד - התנדב{% endblock %}


{% block body %}

<div style = "witdth:300px;height:600px;border:5px solid #9B000B;border-radius:15%; color:#9B000B;padding:7px;"><p><span style ="font-size=20px;">שלום לכל המתנדבים!</span> <br>
<strong>מגוון הפעולות הנדרשות משתנה בהתאם לצרכים אולם רוב הבקשות לסיוע הן מהתחומים הבאים:</strong>
    <ul style="list-style:none;">
        <li>- פעילות במשפחתונים לילדים לעובדים חיוניים </li>
        <li>- סיוע למבודדים ואנשים שלא יכולים לעזוב את ביתם </li>
        <li>- סיוע לחקלאים </li>        
    </ul>        
    <strong>לקראת ובהלך ההתנדבות אנחנו מבקשים להישמע לנהלים שפורסמו ע"י משרד הבריאות, עליכם לקרוא אותם בעיון:</strong>
    <ul style="list-style:none;">
        <li>- ההנחיות חלות על כולם!</li>
        <li>- יש לשטוף ידיים לפני ואחרי כל התנדבות.</li>
           <li>- יש לשמור על מרחק של 2 מטרים לפחות מכל אדם (להשתדל ולהקפיד מאד על כך במקומות שיש בהם לא מעט אנשים כגון סופרמרקט ומשפחתונים).</li>
        <li> <strong>העברה של כסף/ מצרכים תיעשה באופן הבא:<strong><br>
א. על המתנדב להשאיר את המשלוח מחוץ לבית מבקש הסיוע, על סף הדלת.
לדפוק על הדלת ולציין שפרק את המשלוח מטעם "לב אחד" <br>
ב. לאחר מכן, על המתנדב לשמור על מרחק של 2 מטרים מחוץ לדלת. אם מבקש הסיוע רוצה להעביר דבר-מה, עליו להשאיר אותו מחוץ לדלת, כאשר המתנדב מרוחק ממנה 2 מטרים לפחות. 
 כאמור, להקפיד על שטיפת ידיים לפני ואחרי כל משלוח.</li>

    </ul>
  <strong> כל מעשה קטן, הוא למעשה מעשה גדול של חסד שבאמצעותו נצליח כחברה לעבור את המשבר, 
      כי כולנו לב אחד. </strong>
      
        </p>
</div>
<form action="/client/volunteer" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
    <input type="submit" value="Submit">
</form>
{% endblock %}
