<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class="img-responsive"
                                          src="https://static.wixstatic.com/media/dc45ac_81c74c972a914ffcab0f9db80fe600e6.jpg/v1/fill/w_409,h_171,al_c,q_80,usm_0.66_1.00_0.01/dc45ac_81c74c972a914ffcab0f9db80fe600e6.webp"
    /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index.html">בית</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/volunteer.html">התנדבות</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="request_help.html">בקשת עזרה</a>
            </li>
        </ul>
    </div>
</nav>