            <div class="modal fade" id="edit_volu{{ volunteer.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <form method="post" action="{% url 'volunteer_edit_notes' %}?pk={{ volunteer.id }}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h4 class="modal-title w-100 font-weight-bold">עריכה</h4>
                            </div>
                            <div class="modal-body mx-3">
                                <div class="right">
                                    <h5><u>שינוי הערות מתנדב</u></h5>


                                    <div>
                                        <label for="notes">הערה:</label>
                                        <input type="text" name="notes" id="notes" value='{{ volunteer.notes }}'>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                                <button type="submit" class="btn btn-default">שמור שינויים</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>